<div class="jumbotron text-center">
  <h2>Wecome to Dev Match  Clint</h2>
  <h3>A membership site wehre entrepenurs can meet developers</h3>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="well">
      <p><p>
      <h2 class="text-center">Basic Membership (Free Clint)</h2>
      <h4>Sign up for basic access to community for Free!</h4>
      <p>
      <%= link_to "Sign up Basic (free)", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Pro Membership</h2>
      <h4>Sign up for Pro Account at $10/month for Access to the contact info and community Clint.</h4>
      <%= link_to "Professional Sign up", new_user_registration_path, class: 'btn btn-success btn-lg btn-block'  %>
    </div>
  </div>  
</div>
